{# index.njk #}
{% extends "layout.njk" %}

{% block content %}
  {# Content goes here #}
{% endblock %}

{% block aside %}
  {# Aside content goes here #}
{% endblock %}

{% block scripts %}
  getQuestions();
{% endblock %}
